= render partial: 'furima.header'

.furima-contents
  .furima-main
    %h2.furima-main__title 住所登録
    = form_for @residency do |f|
      .furima-main__form
        = f.label :name "お名前（全角）"
        %span.require 必須
        .furima-main__form__name
          = f.text_field :family_name, autofocus: true, placeholder: "例）山田", class: "form-input__half"
          = f.text_field :first_name, autofocus: true, placeholder: "例）太朗", class: "form-input__half"
      .furima-main__form
        = f.label :name_reading, "お名前カナ（全角）"
        %span.require 必須
        .furima-main__form__name
          = f.text_field :family_name_reading, autofocus: true, placeholder: "例）ヤマダ", class: "form-input__half"
          = f.text_field :first_name_reading, autofocus: true, placeholder: "例）タロウ", class: "form-input__half"
      .furima-main__form
        = f.label :zip_code, "郵便番号"
        %span.require 必須
        = f.text_field :zip_code, autofocus: true, placeholder: "例) 123-4567", class: "form-input"
      .furima-main__form
        = f.label :prefecture,"都道府県"
        %span.require 必須
        %br
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "--"}, {class: "form-input"}
        .add_address_prefecture_id.add_all
      .furima-main__form
        = f.label :city, "市区町村"
        %span.require 必須
        = f.text_field :city, autofocus: true, placeholder: "例) 大阪市中央区谷町", class: "form-input"
      .furima-main__form
        = f.label :address, "番地"
        %span.require 必須
        = f.text_field :address, autofocus: true, placeholder: "例) 1-1-1", class: "form-input"
      .furima-main__form
        = f.label :building, "建物名"
        %span.nonrequire 任意
        = f.text_field :building, autofocus: true, placeholder: "例) 柳ビル", class: "form-input"
      .furima-main__form
        = f.label :phone, "電話番号"
        %span.nonrequire 任意
        = f.text_field :phone, autofocus: true, placeholder: "例) 09012345678", class: "form-input"
      .furima-main__actions
        = f.submit "完了", class: "form-btn", url: "destinations_path"

= render partial: 'furima.footer'