=render 'items/header'
.user-page
  =render 'sidebar'
  .user-info
    .user-info__overview
      .user-info__overview__icon
      .user-info__overview__name
        = current_user.nickname
      .user-info__overview__review 
        出品数
        = current_user.items.count
        (売却済み
        = current_user.soldouts.count
        )
    .user-info__notice
      %ul.messages
        お知らせ
        .messagedisplay
          %li.message
            =link_to "ここにお知らせが表示されます。", "#",class:"link-message"
          %li.time
            =link_to "2020/08/18 23:00", "#",class:"link-time"
        .list
          .messagelist
            =link_to "一覧を見る", "#",class:"link-messagelist"
    .user-info__transaction
      %p あなたが出品した商品
      %ul.transaction__list 
        - current_user.items.each do |item|
          %li.transaction__now
            = image_tag item.images.first.url.url, size: '120×120'
            %p 商品名
            = item.name
            - if item.soldout
              .sold--out
                売却済み
              %br/
              %a.btn.btn-primary{href: item_path(item.id)} 詳細画面へ
            - else
              %p 販売価格(税込み)
              = item.price 
              円
              %br/
              %a.btn.btn-primary{href: item_path(item.id)} 詳細画面へ
              %br/
              %a.btn.btn-primary{href: edit_item_path(item.id)} 編集画面へ
=render 'items/footer'