-# 部分テンプレートのヘッダー
= render partial: 'devise/registrations/furima.header'
-# 商品画像をアップロードする実装
.items
  = form_with(model: @item, local: true) do |f|
    .items__information
      .items__image
        .label 出品画像
        %span.require 必須
        .items__image__comment
          最大5枚までアップロードできます
        #image-box
          #previews
            - if @item.persisted?
              - @item.images.each_with_index do |image, i|
                = image_tag image.src.url, data: { index: i }
                %span.js-remove 削除
                %span.js-edit 編集
            = f.fields_for :images do |image|
              %label.image-label
                .items__image__upload__comment
                  %i.fas.fa-camera 
                    %p クリックしてファイルをアップロード
                  .js-file_group{data: {index: image.index}}
                    = image.file_field :src, class: "js-file"
                    -# .items__image__upload
                      // 編集機能の表示
                - if @item.persisted?
                  .js-file_group{data: {index: @item.images.count}}
                    = file_field_tag :src, name: "item[images_attributes][#{@item.images.count}][src]", class: 'js-file'
                    - if image.persisted?
                      = image.check_box :_destroy, class: 'hidden-destroy', data: {index: image.index}
                    .js-remove 削除
                    .js-edit 編集

    -# 商品名や説明を入れる
    .items__information
      .items__name
        .label 商品名
        %span.require 必須
        = f.text_field :name, {maxlength: "40",class: ".items__input", name: "name", size: "6", type: "text", value: " ", placeholder: "40文字まで"}
      .items__explnation
        .label 商品の説明
        %span.require 必須
        %br
        = f.text_area :explanation, {cols: "1000", name: "kanso", rows: "7", placeholder: "商品の説明(必須1,000文字以内)\n(色、素材、重さ、定価、注意点など）"}
    -# 商品の詳細を入れる
    .items__edit 
      .items__edit__title 商品の詳細
      .items__category
        .label カテゴリー
        %span.require 必須
        .items-select-wrapper
          .items-select-wrapper__box
            = f.select :category, @parent_category, {}, {class: 'items-select-wrapper__box--select', id: 'parent_category'}
      .items__brand
        %br
        .label ブランド
        %span.any 任意
        -# brandテーブルとの紐付けが必要
        = form_with(model: @brand, local: true) do |b|
          = b.text_field :name,{maxlength: "40", name: "pass", size: "6", type: "text", placeholder: "仮) シャネル"}
      .items__condition
        %br
        .label 商品の状態
        %span.require 必須
        %br
        -# active_hashで作ったconditionモデルの値を表示させる
        = f.collection_select :condition_id, Condition.all, :id, :condition, prompt: "選択して下さい", class: 'select condition'
    -# 配送に関係する内容 
    .deliverys
      .items__fee
        .items__fee__title 配送について
        .label 配送料の負担
        %span.require 必須
        = f.select :fee, {'選択して下さい': "null", "送料込み(出品者負担)": "送料込み(出品者負担)", "着払い(購入者負担)": "着払い(購入者負担)"}
      .items__consignor
        .label 発送元の地域
        %span.require 必須          
        .select-wrap
        %i.icon-arrow-button
        -# active_hashのprefectureモデルの値を表示させる
        -# DB確認したらprefecture_idカラムが無いので、アソシエーションの追加が必要だと思われる
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択して下さい", class: 'select prefecture'
      .items__delivery_day
        .label 発送までの日数
        %span.require 必須
        .select-wrap
        %i.icon-arow-button
        = f.select :delivery_day, {'選択して下さい': "null", "1~2日で発送": "1~2日で発送", "2~3日で発送": "2~3日で発送", "4~7日で発送": "4~7日で発送"}
    -# 価格に関する入力
    .price
      価格 (¥300~9,999,999)
      .items__price
        .label 販売価格
        %span.require 必須
        %span.en¥
        .items__price__input
          = f.text_field :price, {maxlength: "7", name: "number", size: "6", type: "tel", placeholder: "0", id: "items__price__input__form", class: "items__price__form"}
      .items__fee
        .items__fee__left
          %p 販売手数料
        .items__fee__right
          %P#item__fee --
      .items__profit
        .items__profit__left
          %P 販売利益
        .items__profit__right
          %p#item__profit --
    -# 出品ボタン
    .exhibition
      = f.submit "出品する", class: "exhibition__btn__red "
      .back 
        =link_to "もどる", "#"
    .attention
      %p 禁止されている行為及び出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。また、出品を持ちまして加盟店規約に同意したことになります。
  
-# 部分テンプレートのフッター 
= render partial: 'devise/registrations/furima.footer'


