=render 'devise/registrations/furima.header'

.main 
  .showmain
    .topcontent
      .itembox
        %h2.itembox__name
          = @item.name
        .itembox__body
          = image_tag @item.images.first.url.url, size:"290×290"
          -# 商品情報に紐付けされている画像データを取得している
          .itembox__body_sub
            - @item.images.each_with_index do |image, i|
              = image_tag image.url.url, data: { index: i }, size:"100x100", class: "product-img"
        .itembox__price
          = @item.price
          円
          .itembox__price-detail
            （税込み）送料込み
          .item-detail
            = @item.explanation
        .table
          %table
            %tbody
            %tr
              %th 出品者
              %td 
                -# idを名前表示にする
                = @item.user.nickname
            %tr
              %th カテゴリー
              %td 
                -# idを名前表示にする
                = @item.category.root.name
                %br
                = @item.category.parent.name
                %br
                = @item.category.name
              %br
              %br

            %tr
              %th ブランド
              %td 
                = @item.brand
            %tr
              %th 商品の状態
              %td 
                -# idの値を表示する
                = @item.condition.condition
            %tr
              %th 配送料の負担
              %td
                -# idの値を表示する
                = @item.fee.name
            %tr
              %th 発送元の地域
              %td 
                -# idを都道府県表示する
                = @item.prefecture.name
            %tr
              %th 発送日の目安
              %td
                -# idの値を表示する
                = @item.delivery_day.name

        .optionalArea
          -# ログイン中で出品者なら表示
          - if user_signed_in? && current_user.id == @item.user.id
            .optionalBtnlikeBtn
              %span.purchaseBtn__text
                = link_to edit_item_path(@item) do
                  = icon('fas', 'far fa-edit')
                  編集する
            .optionalBtnlikeBtn
              %span.purchaseBtn__text
                = link_to item_path(@item.id), method: :delete do
                  = icon('fas', 'far fa-trash-alt')
                  削除する
          - elsif user_signed_in?
            .optionalBtnlikeBtn
              %span.purchaseBtn__text
                = link_to buy_item_path(@item) do
                  = icon('fas', 'cart-arrow-down fa-2x')
                  購入する
          - else 
            .optionalBtnlikeBtn
              %span.purchaseBtn__text
                =link_to new_user_session_path do
                  ログインして購入する
=render 'downroad'  
=render 'devise/registrations/furima.footer'

