=render 'items/header'
.user-page
  =render 'users/sidebar'
  .creditinport
    .creditinport__title
      クレジットカード情報入力
    .creditinport__credit-card
    .creditinport__credit-card__inner
      = form_with model: @card, method: :post, html: { name: "inputForm", id: "card_form"} do |f|
        = f.label :カード番号, class: 'label'
        %span.required 必須
        %br
        = f.text_field :number, type: 'text', class: 'input-number', placeholder: '半角数字のみ', maxlength: "16"
        .card-deadline
          = f.label :有効期限, class: 'deadline'
          %span.required 必須
          %br
          .card-deadline__month
            = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-deadline'
            %span.month 月
          .card-deadline__year
            = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-deadline'
            %span.year 年
        .card-code
          = f.label :セキュリティコード, class: 'label'
          %span.required 必須
          %br
          = f.text_field :cvc, type: 'text', class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
        .add_card#card_token
          = f.submit '追加する', class: 'add-btn', id: 'token_submit' 
=render 'items/footer'